<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.tibssy.kokoro-tts</string>

    <key>Program</key>
    <string><USER_BINARY></string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/com.github.tibssy.kokoro-tts.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/com.github.tibssy.kokoro-tts.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>CONFIG_PATH</key>
        <string><USER_CONFIG_DIR>/config.toml</string>
        <key>MODEL_PATH</key>
        <string><USER_MODEL_DIR>/kokoro-v1.0.onnx</string>
        <key>VOICES_PATH</key>
        <string><USER_MODEL_DIR>/voices-v1.0.bin</string>
    </dict>

    <key>WorkingDirectory</key>
    <string><WORKING_DIR></string>
</dict>
</plist>